html
  head
    title= title
  body
    h1= message
       <br><br>
    <button class="btn btn-info btn-lg" type="button">
     <h1><a href="credenciais/criar-dados">Criar Dados</a></h1>
    </button>

    <br>Dados<br>
    h2=data

    <button class="btn btn-info btn-lg" type="button">
      <h1><a href="credenciais">Credenciais POST</a> </h1>
    </button>